body{
	font-family: 'Helvetica', serif;
    	color:#3E4349;
}

#banner {
	width:100%;
}

div #flashed {
    	margin-left: 10em;
    	font-size: large;
}

#content {
    	margin-left: 10em;
}


